{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<h1>Page not found</h1>

<p>Whoa Nelly ! We have a missing page, or you have tried to access something that does not exist.
If you feel this is in error, please contact us, so that we can fix the problem.</p>
{% endblock %}