{% extends "base/base.html" %}

{% block body_block %}
    <div class="hero-unit">
    <h2>About WitsData4Grid</h2>
    You've visited the site on <strong>{{ visit_count }} occasion(s).</strong><br/>
    <br>
    
    This is supported by the Bioinformatics division of SBIMB, Wits University. For access, you will need a X509 personal certificate, provided 
    by the South Africa e-Science Certification Authority (link). You will be able to obtain the certificate by taking your identity documents
    (ID or passport), to Scott Hazelhurst (email). Once the certificate has been granted, issued and installed in your browser, (instructions) 
    you will be able to access this site.
    
    
    </div>
{% endblock %}