  <!DOCTYPE HTML>
  <html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
<!--Bootstrap-->
    <link href="{{ STATIC_URL }}/css/bootstrap-fluid-adj.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL}}/css/bootstrap-responsive.css" rel="stylesheet">

    <title>WitsData4Grid - {% block title %}Storage portal for the H3Africa Wits Research Groups{% endblock %}</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/">WitsData4Grid</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                   {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome, {{ user.first_name }} | </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                   {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'certlogin' %}">Login</a></li>
                   {% endif %}
               </ul>
            <ul class="nav">
                   {% if user.is_authenticated %}
                    <li><a href="{% url 'viewgroupdata' %}">Storage</a></li>
                    <!-- <li><a href="{% url 'profile' %}">Profile</a></li> -->
                    <li><a href="{% url 'howto' %}">FAQ</a></li>
                   {% endif %}
                   {% if user.is_admin %}
                   <li><a href="{% url 'admin' %}">Admin</a></li>
                   {% endif%}

                   <li><a href="{% url 'about' %}">About</a></li>
                   <li><a href="{% url 'contact' %}">Contact</a></li>
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>

{% block sidenav %}
    {% if user.is_authenticated %}
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="sidebar-nav">
                <a href="{% url 'datacreate' %}" class="btn btn-primary">Upload Data </a>
                 <!-- <a href="{% url 'fileupload' %}" class="btn btn-primary">Upload File</a> -->
                <a href="{% url 'nofile' %}" class="btn btn-primary">Fix Upload</a>
                <a href="{% url 'viewgroupdata' %}" class="btn btn-primary">Download Data</a>
            </div>
        </div>
    {% endif %}
{% endblock sidenav %}

{% if user.is_authenticated %}

    <div class="span10">
        {% block body_block %}

        {% endblock %}
    </div>

{% endif %}

</div>
</div>

<hr>
</body>

  <div class="navbar-fixed-bottom modal-footer">
  <p>{{request.session.dn}}</p>
  </div>

<script src='https://code.jquery.com/jquery-2.1.0.min.js'></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


{% block extra_js %}


{% endblock extra_js %}
</html>