{% extends "base/base.html" %}

{% block body_block %}
    <div class="hero-unit">
    <h2>Contact WitsData4Grid</h2>
    You've visited the site on <strong>{{ visit_count }} occasion(s).</strong><br />
    <br>
    
    <p>Please contact us should you require access to this site, or are having problems accessing. Please include clear descriptions of the
    problem and the time it occurred (this will help us find the problems in the logs).
    </p>
    Tel: <br>
    Fax: <br>
    Address: <br> 
    </div>
    
<p>
<b id="like_count">{{ category.likes }}</b> people like this category
{% if user.is_authenticated %}
        <button id ="likes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Like</button>
{% endif %}
</p>
    
{% endblock %}