{% extends "base/base.html" %}

{% block content %}

  <h2>Certificate login is either not working or not activated, please rectify this to proceed.</h2>
  <p>Click <a href="/witsdata4grid/accounts/login">here</a> to login again.</p>

{% endblock %}