{% extends "base/base.html" %}

{% block body_block %}

  <h3>Hi {{user.get_full_name}} you are now logged in!</h3>
  <p>Click <a href="/witsdata4grid/accounts/logout/">here</a> to logout.</p>
  
  <p>Click <a href="/witsdata4grid/accounts/profile/">here</a> to edit your profile information</p>

{% endblock %}
</body>