{#{% extends "base/base.html" %}#}

    {% block body_block %}
    <div class="hero-unit">
    <h1>Login to WitsData4Grid</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        {% if bad_details %}
            <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
            <p><strong>Your WitsData4Grid account is currently disabled; we can't log you in!</strong></p>
        {% endif %}

        Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
        <br />
        Password: <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50" />
        <br />
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
    </div>
    {% endblock %}
    