{% extends "base/base.html" %}

{% block title %}{{ title }} | {% endblock %}

{% block body_block %}

  <h2>Logged out!</h2>
  <p>Click <a href="{% url 'login' %}">here</a> to login again</p>

{% endblock %}

{% block nav-global %}{% endblock %}
