{% extends "base/base.html" %}

{% block content %}
  
<!-- 	<h2>Register</h2>    
	<form action="/witsdata4grid/accounts/register/" method="post">{% csrf_token %}
	{{form}}
    
	<input type="submit" value="Register" />
    
	</form> -->
  
 {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'index' %}" >Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="{% url 'register' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as.p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
  
  
{% endblock %}