{#{% extends "base/base.html" %}#}

{% block content %}

  <h2>Certificate login is either not working or not activated, please enter your details below to login.</h2>

  <form id="login_form" method="post" action="{% url 'simplelogin' %}">
      {% csrf_token %}
      Username: <input type="text" name="username" value="" size="50" /><br />
      Password: <input type="password" name="password" value="" size="50" /><br />
      <input type="submit" value="submit" />
  </form>


  <p>Click <a href="/witsdata4grid/accounts/login">here</a> to login again.</p>

{% endblock %}
