{% extends "base/base.html" %}

{% block body_block %}

{% block page_header %}<h4>Data you have access to</h4>{% endblock page_header %}

{% block paginate %}
<div class="pagination">
    <span class="step-links">
        {% if datasets.has_previous %}
            <a href="?page={{ datasets.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ datasets.number }} of {{ datasets.paginator.num_pages }}.
        </span>

        {% if datasets.has_next %}
            <a href="?page={{ datasets.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock paginate %}

{% block table_headers %}
<div class="container">
    <table style="width:80%" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Created</th>
            <th>Title</th>
            <th>Subject</th>
            <th>Filename</th>
            <th>Stored At</th>
            <th>VO</th>
            <th>Project</th>
            <th>Select</th>
        </tr>
    </thead>
{% endblock table_headers %}

{% block tablebody %}

    <form action="{% url 'choose_data' %}" method="get">

    {% for items in datasets %}
      {% for elements in items.se_base_path.all %}
        {% if elements.location|length != 0 %}
            <tr>
                <td>{{items.filemetadata.created_at|date:"d M Y"}}</td>
                <td>{{items.filemetadata.title}}</td>
                <td>{{items.filemetadata.subject}}</td>
                <td>{{items.filename}}</td>
                <td>{{elements.location}}</td>
                {% for vos in items.file_vo.all %}
                    <td>{{vos.virtual_organisation}}</td>
                {% endfor %}
                <td>{{ items.file_group }}</td>
                <td>
                    <label class="radio inline"><input type="radio" name="selectdata" value="{{items.filemetadata.pk}}" /></label>
                </td>
            </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
{% endblock tablebody %}
    <input type="submit" value="Select Dataset" method="get"/><br />
    </form>
</table>
</div>

{% endblock body_block %}

{% block data_access %}

            <a href="{% url 'datacreate' %}" class="btn btn-primary">Download Data </a>
            <a href="{% url 'nofile' %}" class="btn btn-primary">Share Data</a>

{% endblock data_access %}






