{% extends "filestorage/alldata.html" %}
{% load i18n %}

{% block sidenav %}
<div class="container-fluid">
<div class="row-fluid">
    <div class="span2">
        <div class="sidebar-nav">
            <a href="{% url 'datacreate' %}" class="btn btn-primary">Enter Data </a>
            <!-- <a href="{% url 'fileupload' %}" class="btn btn-primary">Upload File</a> -->
            <a href="{% url 'nofile' %}" class="btn btn-primary">Fix Upload</a>
            
        </div>
    </div>
{% endblock sidenav %}

<div class="container">
    <table style="width:80%" class="table table-striped table-bordered">
    
    {% block table_headers %}
    <thead>
        <tr>
            <th>Created</th>
            <th>Filename</th>
            <th>Title</th>
            <th>Stored At</th>
            <th>VO</th>
            <th>Project</th>
            <th>Select</th>
        </tr>
    </thead>
{% endblock table_headers %} 
    
{% block tablebody %}
<tbody>
<form action="{% url 'choose_data' %}" method="get">

    {% for items in datasets %}
      {% for elements in items.se_base_path.all %}
        
            <tr>
                
                <td>{{items.filemetadata.created_at|date:"d M Y"}}</td>
                <td>{{items.filename}}</td>
                <td>{{items.filemetadata.title}}</td>                
                
                <td>{{elements.location}}</td>
                
                {% for vos in items.file_vo.all %}
                    <td>{{vos.virtual_organisation}}</td>
                {% endfor %}
                
                <td>{{ items.file_group }}</td>
                <td><label class="radio inline"><input type="radio" name="selectdata" value="{{items.pk}}" /></label></td>                                   
            </tr>
      {% endfor %}
    {% endfor %}
<input type="submit" value="Download File" method="get"/><br />    
</form>
</tbody />
{% endblock tablebody %}
    </table>
</div>

