{% extends "base/base.html" %}
{% load i18n %}

{% block body_block %}
<div class="hero-unit">

This is supposed reserve a filename space on the DPM server.


{% if user.is_authenticated %}
	<form action="{% url 'fileupload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

		 <ul>
            {{form.as_ul}}
        </ul>
        <input type="submit" name="submit" id="submitFile" value="Check Upload" method="post"/>
	</form>
{% endif %}

{# can change action to a URL #}
{# /upload/<vo>/<filename>/<se>/<path:path> #}
{# /download/<vo>/<se>/<path:path> #}

vo is from FileStorageParameters (drop down menu) <br>
se is from Institution (drop down menu) <br>
path:path is from se and group/project (drop down menu) <br>
filename is appended to the end of path <br><br>


{# user = models.ForeignKey(User) #}
{# filename = models.CharField(max_length=255) #}
{# filepath = models.CharField(max_length=255)  #}
{# project = models.CharField(max_length=255)  #}
{# virtual_organisation = models.CharField(max_length=255)  #}
{# institution = models.CharField(max_length=255) #}


{#<form id="file-form" action="handler.php" method="POST">#}
{#  <input type="file" id="file-select" name="photos[]" />#}
{#  <button type="submit" id="upload-button">Upload</button>#}
{#</form>#}


</div>

{% endblock %}

<script src='https://code.jquery.com/jquery-2.1.0.min.js'></script>
<script src="{% static 'js/filestorage.js' %}"></script>