{% extends "base/base.html" %}
{% load i18n %}

{% block body_block %}

    <div id="upload-wrapper">
    <div align="center">
    <div class="page-header">
    <h3>File uploader</h3>
    <small>Please select a file (only one) to upload</small>
    </div>
        <form action="{% url "upload" %}" onSubmit="return false" method="post" enctype="multipart/form-data" id="fileuploadform">
            {% csrf_token %}
            <input name="uploadfile" id="fileInput" type="file" />
            <input type="submit"  id="submit-btn" value="Upload" />
            <img src="{{ STATIC_URL}}/imgs/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
        </form>

        <div id="progressbox" style="display:none;"><div id="progressbar"></div ><div id="statustxt">0%</div></div>
        <div id="output"></div>
</div>
</div>
{% endblock body_block %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script>
        $.ajaxSetup({
            headers: { "Expect": "100-continue" }
        });
        
        $(document).ready(function() {

        	var progressbox     = $('#progressbox');
        	var progressbar     = $('#progressbar');
        	var statustxt       = $('#statustxt');
        	var completed       = '0%';

        	var options = {
        			target:   '#output',   // target element(s) to be updated with server response
        			beforeSubmit:  beforeSubmit,  // pre-submit callback
        			uploadProgress: OnProgress,
        			success:       afterSuccess,  // post-submit callback
        			resetForm: true        // reset the form after successful submit
        		};

        	 $('#fileuploadform').submit(function() {

        			$(this).ajaxSubmit(options);
        			
        			// return false to prevent standard browser submit and page navigation
        			return false;
        		});

        //when upload progresses
        function OnProgress(event, position, total, percentComplete)
        {
        	//Progress bar
        	progressbar.width(percentComplete + '%') //update progressbar percent complete
        	statustxt.html(percentComplete + '%'); //update status text
        	if(percentComplete>50)
        		{
        			statustxt.css('color','#fff'); //change status text to white after 50%
        		}
        }

        //after succesful upload
        function afterSuccess()
        {
        	$('#submit-btn').hide(); //hide submit button
        	$('#loading-img').hide(); //hide submit button
        }

        //function to check file size before uploading.
        function beforeSubmit(){

            //check whether browser fully supports all File API
           if (window.File && window.FileReader && window.FileList && window.Blob)
        	{

        		if( !$('#fileInput').val()) //check empty input filed
        		{
        			$("#output").html("Are you kidding me?");
        			return false
        		}

        		var fsize = $('#fileInput')[0].files[0].size; //get file size
        		var ftype = $('#fileInput')[0].files[0].type; // get file type

        		//allow only valid image file types
        		//switch(ftype)
                //{
                //    case 'image/png': case 'image/gif': case 'image/jpeg': case 'image/pjpeg':
                //        break;
                //    default:
                //        $("#output").html("<b>"+ftype+"</b> Unsupported file type!");
        		//		return false
                //}

        		//Allowed file size is less than 1 MB (1048576)
        		//if(fsize>1048576)
        		//{
        		//	$("#output").html("<b>"+bytesToSize(fsize) +"</b> Too big Image file! <br />Please reduce the size of your photo using an image editor.");
        		//	return false
        		//}
                //
        		//Progress bar
        		progressbox.show(); //show progressbar
        		progressbar.width(completed); //initial value 0% of progressbar
        		statustxt.html(completed); //set status text
        		statustxt.css('color','#000'); //initial color of status text


        		$('#submit-btn').hide(); //hide submit button
        		$('#loading-img').show(); //hide submit button
        		$("#output").html("");
        	}
        	else
        	{
        		//Output error to older unsupported browsers that doesn't support HTML5 File API
        		$("#output").html("Please upgrade your browser, because your current browser lacks some new features we need!");
        		return false;
        	}
        }

        //function to format bites bit.ly/19yoIPO
        function bytesToSize(bytes) {
           var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
           if (bytes == 0) return '0 Bytes';
           var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
           return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
        }

        });

		</script>

<style>

        body {
        	margin: 0px;
        	padding: 0px;
        	width: 100%;
        	font-family: Arial, Helvetica, sans-serif;
        	color:#666666;
        }
        #upload-wrapper {
        	width: 40%;
        	margin-right: auto;
        	margin-left: auto;
        	margin-top: 75px;
        	background: #F5F5F5;
        	padding: 10px;
        	border-radius: 5px;
        	box-shadow: 1px 1px 3px #AAA;
        }
        #upload-wrapper h3 {
        	padding: 0px 0px 5px 0px;
        	margin: 0px 0px 10px 0px;
        	margin-top: -20px;
        	border-bottom: 1px dotted #DDD;
        }
        #upload-wrapper input[type=file] {
        	border: 1px solid #DDD;
        	padding: 6px;
        	background: #FFF;
        	border-radius: 5px;
        }
        #upload-wrapper #submit-btn {
        	border: thin;
        	padding: 10px;
        	background: #61BAE4;
        	border-radius: 5px;
        	color: #FFF;
        }
        #output{
        	padding: 5px;
        	font-size: 11px;
        }
        #output img {
        	border: 1px solid #DDD;
        	padding: 5px;
        }

        /* progress bar style */
        #progressbox {
        	border: 1px solid #92C8DA;
        	padding: 1px;
        	position:relative;
        	width: 400px;
        	border-radius: 3px;
        	margin: 10px;
        	display:none;
        	text-align:left;
        }
        #progressbar {
        	height:20px;
        	border-radius: 3px;
        	background-color: #77E0FA;
        	width:1%;
        }
        #statustxt {
        	top:3px;
        	left:50%;
        	position:absolute;
        	display:inline-block;
        	color: #000000;
        }

        </style>
{% endblock extra_js %}